<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!--  namespace : 클래스 라고 생각하기 -->
<mapper namespace="com.yedam.notice.mapper.NoticeMapper">

  <select id="selectList" resultType="NoticeVO"> <!-- id: 메소드명이라고 생각하기 -->
    SELECT * FROM tbl_notice ORDER BY notice_id DESC
  </select>
  
  <select id="searchOne" resultType="NoticeVO">
  	SELECT * FROM tbl_notice WHERE notice_id=#{nid}
  </select>
  
  <update id="increaseCnt" parameterType="int">
  	UPDATE tbl_notice
  	SET hit_count = hit_count + 1
  	WHERE notice_id = #{nid}
  </update>
  
  <!-- insert 구문은 따로 resultType을 지정하지않아도 됨 -->
  <!-- parameterType="NoticeVO" : 쿼리를 실행시키기위한 매개값임 -->
  <insert id="insertNotice" parameterType="NoticeVO">
  	INSERT INTO tbl_notice (notice_id, notice_writer, notice_title, notice_subject, attach_file)
	VALUES(notice_seq.nextval, #{noticeWriter}, #{noticeTitle}, #{noticeSubject}, #{attachFile})
  </insert>
  
  <update id="updateNotice" parameterType="NoticeVO">
  	UPDATE tbl_notice SET notice_title=#{noticeTitle}, notice_subject=#{noticeSubject}
  	WHERE notice_id=#{noticeId} 
  </update>
  
  <delete id="deleteNotice" parameterType="int">
  	DELETE from tbl_notice where notice_id=#{nid}
  </delete>
  
  <select id="replyList" resultType="ReplyVO">
  	select * from tbl_reply where notice_id = #{nid} order by reply_id
  </select>
  
  <delete id="deleteReply" parameterType="int">
  	delete from tbl_reply where reply_id = #{rid}
  </delete>
  
  <insert id="insertReply" parameterType="ReplyVO">
   <!-- insert하기 전에 replyId를 생성해서 ReplyVO타입에다가 넣어줘서 다음 insert쿼리문 실행할때 values값으로 넣어주기 -->
  	<selectKey keyProperty="replyId" resultType="int" order="BEFORE">
  	 	select reply_seq.nextval from dual
  	</selectKey>
  	
  	insert into tbl_reply(reply_id, notice_id, reply_title, reply_subject, reply_writer)
	values (${replyId}, #{noticeId}, #{replyTitle}, #{replySubject}, #{replyWriter})
  </insert>
  
</mapper>